# Google Sheets Configuration
GOOGLE_SHEET_ID=1vPWte_xhOopcJQw8KVwtW6JtHcUo5LeGnFUOo_KI4XU
PLANILHA_ID=1vPWte_xhOopcJQw8KVwtW6JtHcUo5LeGnFUOo_KI4XU
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
